<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="{{ '/' | relative_url }}"><img src="{{ '/images/logo.png' | relative_url }}"
                        alt="Case Done Logo"></a>
                <p>AI Expertise for the Modern Business</p>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="{{ '/' | relative_url }}#courses">Courses</a></li>
                        <li><a href="{{ '/' | relative_url }}#previous-work">Previous Work</a></li>
                        <li><a href="{{ '/knowledge-base/' | relative_url }}">Knowledge Base</a></li>
                        <li><a href="{{ '/' | relative_url }}#about">About</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Connect With Us</h4>
                    <div class="footer-social-links">
                        <a href="https://www.youtube.com/@CaseDonebyAI" target="_blank" aria-label="YouTube"><i
                                class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/casedonebyai" target="_blank" aria-label="LinkedIn"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://x.com/casedonebyai" target="_blank" aria-label="x"><i class="fab fa-x"></i></a>
                        <a href="https://github.com/casedone" target="_blank" aria-label="GitHub"><i
                                class="fab fa-github"></i></a>
                        <a href="https://casedonebyai.substack.com" target="_blank" aria-label="Substack"><i
                                class="fas fa-newspaper"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; <span id="current-year">2025</span> Case Done. All rights reserved.</p>
        </div>
    </div>
</footer>